{% extends "base.html" %}
{% block title %}SGame/Research{% endblock %}
{% block html_head %}
  <link rel="stylesheet" type="text/css" href="{{ media("css/common.css") }}"/>
  <link rel="stylesheet" type="text/css" href="{{ media("css/objects.css") }}"/>
{% endblock %}
{% block main %}
<h3>Research on planet <a href="{{ url("sgame.views.planet_overview", planet.id) }}">{{ planet.name|e }} {{ planet.location() }}</a></h3>

{% if error_message %}
<div class="error">
Error: {{ error_message }}
</div>
{% endif %}

{{ utils.technology_detail(planet, "energy_tech") }}
{{ utils.technology_detail(planet, "laser_tech") }}
{{ utils.technology_detail(planet, "ion_tech") }}
{{ utils.technology_detail(planet, "hyperspace_tech") }}
{{ utils.technology_detail(planet, "plasma_tech") }}

{{ utils.technology_detail(planet, "combustion_drive") }}
{{ utils.technology_detail(planet, "impulse_drive") }}
{{ utils.technology_detail(planet, "hyperspace_drive") }}

{{ utils.technology_detail(planet, "espionage_tech") }}
{{ utils.technology_detail(planet, "computer_tech") }}
{{ utils.technology_detail(planet, "astrophysics") }}
{{ utils.technology_detail(planet, "intergalactic_research_net") }}
{{ utils.graviton_detail(planet, "graviton_tech") }}

{{ utils.technology_detail(planet, "armour_tech") }}
{{ utils.technology_detail(planet, "weapons_tech") }}
{{ utils.technology_detail(planet, "shielding_tech") }}

{% if research_queue %}
Research queue:
<ul>
  {% for queue_item in research_queue %}
  <li>
    {% set technology = "get_technology(queue_item.name) %}
    {{ technology.verbose_name }} to level {{ queue_item.target_level }}.<br/>
    Duration: {{ queue_item.parent.end_time - queue_item.parent.start_time }}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
