{% extends "base.html" %}
{% block title %}SGame/Resources{% endblock %}
{% block html_head %}
  <link rel="stylesheet" type="text/css" href="{{ media("css/common.css") }}"/>
  <link rel="stylesheet" type="text/css" href="{{ media("css/objects.css") }}"/>
{% endblock %}
{% block main %}
<h3>Resources on planet <a href="{{ url("sgame.views.planet_overview", planet.id) }}">{{ planet.name|e }} {{ planet.location() }}</a></h3>

{% if error_message %}
<div class="error">
Error: {{ error_message }}
</div>
{% endif %}

{{ utils.resource_building_detail(planet, "metal_mine", resources.mm_actual_production, "metal") }}
{{ utils.resource_building_detail(planet, "crystal_mine", resources.cm_actual_production, "crystal") }}
{{ utils.resource_building_detail(planet, "deuterium_synthesizer", resources.ds_actual_production, "deuterium") }}
{{ utils.resource_building_detail(planet, "solar_plant", resources.sp_actual_production, "power") }}
{# Todo: Show deuterium consumption. #}
{{ utils.resource_building_detail(planet, "fusion_reactor", resources.fr_actual_production, "power") }}
{{ utils.storage_detail(planet, "metal_storage", "metal") }}
{{ utils.storage_detail(planet, "crystal_storage", "crystal") }}
{{ utils.storage_detail(planet, "deuterium_tank", "deuterium") }}
{{ utils.ship_detail(planet, "solar_satellite") }}

{{ utils.building_queue(buildings, building_queue) }}
{% endblock %}
