{% extends "base.html" %}
{% block title %}SGame/Planet{% endblock %}
{% block html_head %}
<style type="text/css">
#main > * {
    margin: 20px;
}
</style>
{% endblock %}
{% block main %}
<h3>Overview of planet <a href="{{ url("sgame.views.planet_overview", planet.id) }}">{{ planet.name|e }} {{ planet.location() }}</a></h3>

<p>Well, crud, there's really nothing to put here...</p>
{% endblock %}
