{% macro object_detail(object, status, cost, duration, can_build, build_template, unavailable, info="") %}
  <div class="object">
  <h4>{{ object.verbose_name }}</h4>
  <span class="status">{{ status }}</span>
  <span class="cost">{{ cost }}</span>
  <span class="duration">Duration: {{ duration }}</span>
  {% if can_build %}
  {{ build_template() }}
  {% else %}
  {{ unavailable }}
  {% endif %}
  {% if info %}
  <span class="info">{{ info }}</span>
  {% endif %}
  </div>
{% endmacro %}

{% macro generic_cost(cost, verb="Build") %}
   {{ verb }} cost: {{ cost[0] }} metal, {{ cost[1] }} crystal, {{ cost[1] }} deuterium.
{% endmacro %}

{% macro building_detail(planet, object, info="", redirect) %}
{% macro building_upgrade() %}
  <form action="{{ url(redirect, planet.id) }}" method="post" class="upgrade">
    <input name="name" type="hidden" value="{{ object.name }}"/>
    <input type="submit" value="Build"/>
  </form>
{% endmacro %}
{{ object_detail(object, "Level %s"|format(object.current_level()),
   generic_cost(object.build_cost()),
   object.build_time(),
   object.can_build(),
   building_upgrade,
   "Can not currently be built.",
   info) }}
{% endmacro %}

{% macro resource_building_detail(planet, name, actual_production, produces) %}
{% set object = planet.get_object(name) %}
{{ building_detail(planet, object,
   "Produces %s / %s %s per hour."|format(actual_production|int, object.production(), produces),
   "sgame.views.planet_resources") }}
{% endmacro %}

{% macro storage_detail(planet, name, stores) %}
{% set object = planet.get_object(name) %}
{{ building_detail(planet, object,
   "Stores %s %s."|format(object.capacity(), stores),
   "sgame.views.planet_resources") }}
{% endmacro %}

{% macro facility_detail(planet, name) %}
{{ building_detail(planet, planet.get_object(name), "", "sgame.views.planet_facilities") }}
{% endmacro %}

{% macro technology_detail(planet, name, redirect="sgame.views.planet_research") %}
{% set object = planet.get_object(name) %}
{% set cost = object.research_cost() %}
{% macro technology_upgrade() %}
  <form action="{{ url(redirect, planet.id) }}" method="post" class="upgrade">
    <input name="name" type="hidden" value="{{ object.name }}"/>
    <input type="submit" value="Research"/>
  </form>
{% endmacro %}
{{ object_detail(object,
   "Level %s"|format(object.current_level()),
   generic_cost(object.research_cost(), "Research"),
   object.research_time(planet),
   object.can_research(planet),
   technology_upgrade,
   "Can not currently be researched.") }}
{% endmacro %}

{# There should be a better way to do this than defining a custom macro... #}
{% macro graviton_detail(planet, name) %}
{% set object = planet.get_object(name) %}
{% macro graviton_upgrade() %}
  <form action="{{ url("sgame.views.planet_research", planet.id) }}" method="post" class="upgrade">
    <input name="name" type="hidden" value="{{ object.name }}"/>
    <input type="submit" value="Research"/>
  </form>
{% endmacro %}
{{ object_detail(object,
   "Level %s"|format(object.current_level()),
   "Research cost: 300000 energy.",
   object.research_time(planet),
   object.can_research(planet),
   graviton_upgrade,
   "Can not currently be researched.") }}
{% endmacro %}

{% macro shipyard_detail(planet, name, view) %}
{% set object = planet.get_object(name) %}
{% macro shipyard_build() %}
  <form action="{{ url(view, planet.id) }}" method="post" class="upgrade">
    <label for="{{ object.name }}_count">Count:</label>
    <input type="text" name="count" id="{{ object.name }}_count"/>
    <input type="hidden" name="name" value="{{ object.name }}"/>
    <input type="submit" value="Build"/>
  </form>
{% endmacro %}
{{ object_detail(object,
   "%s available"|format(object.count),
   generic_cost(object.build_cost()),
   object.build_time(),
   object.can_build(),
   shipyard_build,
   "Can not currently be built.") }}
{% endmacro %}

{% macro ship_detail(planet, name, redirect="sgame.views.planet_shipyard") %}
{{ shipyard_detail(planet, name, redirect) }}
{% endmacro %}

{% macro defense_detail(planet, name, redirect="sgame.views.planet_defense") %}
{{ shipyard_detail(planet, name, redirect) }}
{% endmacro %}

{% macro building_queue(buildings, building_queue) %}
{% if building_queue %}
Building queue:
<ul>
{% for queue_item in building_queue %}
  <li>
  {% set building = buildings.get_object(queue_item.name) %}
  {{ building.verbose_name }} to level {{ queue_item.target_level }}.<br/>
  Duration: {{ queue_item.parent.end_time - queue_item.parent.start_time }}
  </li>
{% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro shipyard_queue(shipyard_queue) %}
{% if shipyard_queue %}
Shipyard queue:
<ul>
{% for queue_item in shipyard_queue %}
  <li>
  {% set item = queue_item.item %}
  {{ queue_item.count - queue_item.finished }} {{ item.verbose_name }}.<br/>
  Duration: {{ queue_item.parent.end_time - queue_item.parent.start_time }}
  </li>
{% endfor %}
</ul>
{% endif %}
{% endmacro %}
