<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
 "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <title>Login</title>
</head>
<body>

<form action="{% url django.contrib.auth.views.login %}" method="post">
  {{ form.as_p }}
  <input type="hidden" name="next" value="{{ next }}"/>
  <input type="submit" value="Login"/>
</form>

</body>
</html>
