* {
    /* Reset those pesky margins browsers like to add. */
    margin: 0;
}

#wrapper {
    width: 1000px;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
}

#header {
    height: 20px;
    background-color: #888;
}

#menu {
    width: 200px;
    background-color: #aaf;
    float: left;
}

#planet-list {
    width: 200px;
    background-color: #aaf;
    float: right;
}

#resources {
    width: 600px;
    background-color: #faa;
    float: left;
}

#main {
    width: 600px;
    background-color: #afa;
    float: left;
}

#footer {
    height: 20px;
    background-color: #888;
    clear: both;
}
