#main > * {
    margin: 20px;
}

.object {
    padding: 10px;
    border: 3px outset blue;
}

.object h4 {
    float: left;
}

.object .status {
    float: right;
}

.object .cost {
    display: block;
    clear: both;
}

.object .duration {
    display: block;
    clear: both;
}

.object .info {
    display: block;
    clear: both;
}
